.section2,
.section3 {
  margin-left: 165px;
  margin-right: 165px;
}

.section1 {
  margin-left: 165px;
}

.header {
  display: flex;
  width: 100%;
  padding-left: 165px;
  padding-right: 165px;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  background-color: white;
  .headerList {
    display: flex;
    list-style-type: none;
    gap: 30px;
    color: var(--grayish-blue);
  }
}

.buttonStyle {
  border: 0 solid white;
  border-radius: 20px;
  width: 163px;
  height: 44px;
  background: var(--gradient-color);
}

.section1 {
  display: flex;
  flex-direction: row;
  height: 656px;

  .section1Left {
    display: flex;
    flex-direction: column;
    text-align: left;
    width: 29%;
    align-items: center;
    justify-content: center;
    height: 447px;

    .section1Left__title {
      font-style: normal;
      font-weight: 300;
      font-size: 56px;
      line-height: 64px;
      letter-spacing: -1px;
    }
    .section1Left__subtitle {
      font-family: "Public Sans";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 28px;
      letter-spacing: -0.28125px;
    }
  }

  .section1Right {
    position: relative;
    border: 1px solid black;
    z-index: -1;
    width: 69%;

    .background {
      position: absolute;
      border: 1px solid blue;
       top: -250px;
      left: 150px; 
    }
    .phone {
      display: none;
      border: 1px solid red;
      position: absolute;
      top: 0px;
      left: 0px;
    }
  }
}

.section2Elements {
  display: flex;
}

.section3Elements {
  display: flex;
}

.footerList {
  display: flex;

  ul {
    list-style: none;
    gap: 30px;
  }
}

i {
  color: white;
}

.footRight {
  display: flex;
  flex-direction: column;
}

footer {
  height: 191px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--dark-blue-color);
}
